/* body{
    background-color: purple;
}
p{
    color: white ;
    background-color: brown;
} */
#home{
    background-color: aqua;
}
.footer{
background-color: black;
color: white;
font-family:fantasy;
}